version: '3'

# Define the services/containers to be run
services:
    frontend: 
        hostname: localhost
        build: nginx-angular-frontend
        ports:
            - "4200:4200" 
        links:
            - backend
        networks:
          - network

    backend:
        build: node-express-backend
        restart: always
        ports:
            - "3000:3000"
        links:
            - mongo
        depends_on:
            - mongo
        networks:
          - network

    mongo:
        image: mongo:latest
        ports:
            - "27017:27017"
        volumes:
            - database:/data/db
        networks:
          - network

volumes:
    database:
networks:
  network:
    driver: bridge
